body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport para centralizar verticalmente */
    background-color: #f8f9fa;
}

.custom-container {
    max-width: 700px; /* ajustar a largura */
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}